[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
mypy = "*"
py-algorand-sdk = "*"
pygithub = "*"
pymongo = "*"
motor = "*"
httpx = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
anyio = "*"
trio = "*"

[requires]
python_version = "3.9"
